<h1>Send email</h1>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:error] if flash[:error] %>
<%= form_tag echo_send_path, :method=>"post" do %>
    <%= label_tag "email" %>
    <%= text_field_tag "email", nil, :required=>"required" %>
    <%= submit_tag "Send!" %>
<% end %>